@charset "UTF-8";
/* CSS Document */

/* Import av typsnitt Noto sans samt Roboto från Google fonts*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Roboto&display=swap');

/* RESET AV CSS-INSTÄLLNINGAR, hämtad från https://dev.to/hankchizljaw/a-modern-css-reset-6p3 */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin, kanske lägga till a också? */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  /*text-rendering: optimizeSpeed; denna egenskap validerar ej*/
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles 
Validerar ej: Egenskap text-decoration-skip-ink finns inte : auto */
/*a:not([class]) {
  text-decoration-skip-ink: auto;
}*/

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Plockar bort padding på vänster sida för listor*/
ul {
    padding-left: 0;
}

/* ------------------END CLEARING OF SETTINGS ---------------------------------------*/

/* ALLMÄNNA INSTÄLLNINGAR FÖR HELA SIDAN*/

/* Sätter font-size till 62.5 % vilket innebär att sätter man 
sedan texten i ett p-element till 1.6 rem = 16 px
då 62.5 % av 16px som är standardinställningen är 10 px*/
html {
    font-size: 62.5%;
}

body {
    padding: 0;
    background-color: #f0ecec;
}

/* Instälningar text*/
p {
    font-size: 1.4rem;
    line-height: 2.7rem;
    font-family: 'Roboto', Helvetica, sans-serif;
    /*padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;*/
    color: #26282d;
}

h2 {
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2em;
    
    /*line-height: 2.7rem;*/
    font-family: Arial, Helvetica, sans-serif;
    /*padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;*/
    color: #48494d;
}

/* egen klass på vissa h2:or för annan färgsättning*/
.h2Color {
  color: #f16334;
}

/* Mjukare grå/svart färg på rubriker och bold*/
h3 {
  font-size: 2.2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #48494d;
  padding-top: 0.8em;
}

.partial {
    width: 10em;
    background: lightblue;
}

b {
  color: #48494d;
}
ul {
  /* Sätter padding left till 1em för att passa så att inte
  prikarna åker ut i bodyn och är lika som padding för main*/
  padding-left: 1em;
  font-size: 1.4rem;
  font-family: 'Noto sans', sans-serif;
  color: #f16334;
  font-weight: bold;

}
/* END textinställningar*/
a {
    color: #f16334;
    font-size: 1.2rem;
    font-weight: normal;
    font-family: 'Roboto', Helvetica, sans-serif;
  }
  
  a:hover {
    font-weight: bold;
  }

  /* Runda mjuka kanter på bilder i classen*/
  .boarderImg  {
    border-radius: 0.2em;
  }

  /* END Allmänna inställningar*/

  /* TA BORT SAKER SOM SKALL VARA I MOBILVERSIONEN*/
  /* Plockar bort mobilmenyn*/
  #mobnav {
    display: none;
  }

  /* Tab bort hamburger ikon och förstoringsglas*/
  #icon {
    display: none;
  }
  #glass {
    display: none;
  }

  /* Start inställningar desktop*/
  #container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(20px, auto);
    margin: 0 auto;
    /*grid-gap: 10px;*/
    position: relative;
    max-width: 960px;
  }
  #container>* {
    background: #fff;

}
input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    grid-column: 1 / 13;
    padding-top: 4em;
    padding-bottom: 2em;
}
    #headWrapper {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(2, auto);
      padding-top: 4em;
      padding-bottom: 2em;
      background-color: #f16334;;
    }
        #logo {
            grid-column: 1 / 4;
            grid-row: 1 / 3;
            padding-left: 1em;
        }
         /* Bolagsnamnet bredvid logotypen*/
        #companyName {
            grid-column: 4 / 6;
            grid-row: 2 / 3;
            padding-left: 2em;
        }
        /* Bolagsnamnet bredvid logotypen, text-elemtet*/
        #companyName p {
          color: #fff;  
        }

        #bignav {
            grid-column: 6 / 13;
            grid-row: 2 / 3;
            display: flex;
            flex-direction: column;
            font-family: 'Noto sans', sans-serif;
            text-align: right;
            
        }
              #largemenu {
                text-align: right;
                /* Var tvungen att sätta till display block för att få text align att fungera*/
                display: block;
                padding-right: 3em;
                padding-top: 0.9em;
                
              }
              #bignav a {
                color: #fff;
                text-decoration: none;
                font-size: 1.5rem;
                font-family: 'Noto sans';
                padding: 0.7em 1em 0.7em 1em; 
              }
              #bignav a:hover {
                background-color: #ddd;
                color: #f16334;
                font-weight: normal;
              }
  
  /* Main håller själva innehållet utom toppen med menyn och footern, denna
  är för huvudsidan då de andra sidorna kräver andra inställningar för grid*/            
  #main {
    grid-column: 1 / 13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(20px, auto);
  }     
        #bigBanner {
            grid-column: 1 / 13;
            grid-row: 1 / 2;
        }

        #pitch {
            grid-column: 1 / 13;
            grid-row: 2 / 3;
            text-align: center;
            padding-top: 3em;
        } 
        #pitch h2 {
          font-size: 3em;
          font-family:'Roboto', Helvetica, sans-serif;
          padding-left: 4em;
          padding-right: 4em;
        }

        #section1 {
            grid-column: 1 / 13;
            grid-row: 3 / 4;
            display: flex;
            flex-direction: row;
            padding-left: 2em;
            padding-right: 0.4em;
            padding-bottom: 4em;
            padding-top: 4em;
            
        }     
              #article1 {
                max-width: 46em;
                padding-left: 3em;
              }

        #widgets {
            grid-column: 1 / 13;
            grid-row: 4 / 5;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            /* Justify-items centrar bilderna, man måste göra så i grids*/
            justify-items: center;
        }
              #widget1 {
                grid-column: 1 / 2;
              }
              #widget2 {
                grid-column: 2 / 3;
              }
              #widget3 {
                grid-column: 3 / 4;
              }



  footer {
    grid-column: 1 / 13;
    padding-top: 2em;   
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    
    background-color: #f16334;
  }
    
    #footColor {
    grid-column: 1 / 13;
    background-color: #f16334;
    padding-top: 8em;
    padding-bottom: 2em; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
   /* align - items gör så att a länkarna hamnar i jämnhöjd med p*/
    align-items: center;
    }
   
        #footHolder {
          grid-column: 1 / 2;
          grid-row: 2 / 3;
          background-color: #f16334;
       
        }
        footer p {
          color: #fff;
          text-align: center;
        }

        footer a {
          color: #fff;
          font-family: 'Roboto', Helvetica, sans-serif;
          text-decoration: none;
          text-align: center;
          font-size: 1.4rem;
         
        }
        #a1 {
          grid-column: 2 / 3;
          grid-row: 2 / 3;
          background-color: #f16334;
         

        }
        #a2 {
          grid-column: 3 / 4;
          grid-row: 2 / 3;
          background-color: #f16334;
        }


   /* ----------INNEHÅLL Blog.HTML------------*/
  
  /* Mainblog, behövdes andra inställningar än i huvudmain, derav en separat main för blog.html*/
  #mainBlog {
    grid-column: 1 / 13;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    padding-left: 3em;
    padding-right: 0.6em;
    padding-top: 4em;
    padding-bottom: 4em;
  }
   #sectionBlog {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    /* Max-widht anger hur st*/
    max-width: 60em;
   } 

      /* Större h2 i bloggen */
      /*#sectionBlog h2 {
        font-size: 5rem;
        font-weight: 1000;
        line-height: 1.2em;
      }*/
      /* Sätter bottenpadding på alla blogginlägg*/
      .blogA {
        padding-bottom: 1em;
        margin-bottom: 7em;
        border-bottom: 4px dotted #f16334;
      }
      
      /* Klass som riktar sig till utvalda på element och som gör första bokstaven större*/
      .first::first-letter {
        font-size: 3em;
        font-weight: 800;
      }
      /* stylar klassen q, (quote) till italic*/ 
      .q {
        font-style: italic;
      }
      /*Försöker mig på att få första tecknet större, får det ej att fungera */
      .bigQ::first-letter {
        font-size: 10rem;
        color: #f16334;
        font-weight: bolder;
      }
       /* Tar bort sträck under länkar för klassen etiketter*/
       .etikett a {
        text-decoration: none;
      }
      .etikett {
        background-color: #f3f3f3a2;
        border-radius: 0.1em;
        padding-left: 0.2em;
      }
      .small { 
        background-color: #f3f3f3;
        border-radius: 0.1em;
        padding-left: 0.2em;
      }

      .bigQ {
        font-weight: bold;
        font-size: 1.6rem;
        color: #f16334;
      }

      /*------Styling foto-------*/
      
      /* Klass för alla foton på bloggen, sätter texter till bilder font och size*/
      .foto {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
        background-color: rgb(238, 236, 235);
        padding-left: 0.6em;
      }

      /* Foto2 skall placers till höger om texten*/
      #img2Div {
        float: right;
        padding-top: 1em;
      }
      #img2 {
        max-width: 20em;
      }
     
      #img3 {

      }
      #img4 {

      }


      /* --------------Styling av tabeller--------------
      som visar info*/
      .labTable th {
        padding: 1em 0.8em;
        font-weight: bold;
        background-color: #f16334;
        color: #fff;
        font-size: 1.1rem;
    }
    
      /* Body i tabellen*/
    
      /* Texten i tabellen, sätter padding och ger därmed storlek till cellerna*/

      .labTable {
      font-family: 'Noto sans', sans-serif;
      border-bottom: 2px solid #f16334;
      }
    
      .labTable td {
        padding: 0.5em 0.8em;
      }
      .wide {
        width: 100%;
      }
    
      .labTable tbody tr {
        /* Lägger till en grå¨linjen mellan varje rad*/
        border-bottom: 1px solid #dddddd;
      }
    
      /* riktar sig till varanan cell i tbodyn, i detta fall varje jämnt
        det är med nth-of-type(even)*/
    
      .labTable tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
      }
    
      /* Rikter sig till den nedersta raden och ger en border-bottom kant*/
    
      .labTable tbody tr:last-of-type {
        border-bottom: 2px solid #f3f3f3;
      }

   /* aside visar ämnesetiketter för bloggen til höger*/
   aside {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    background-color:#f3f3f3;
    padding-top: 4em;
    padding-bottom: 8em;
    padding-left: 2em;
    border-radius: 0.2em;
   }
    aside ul {

      list-style: none;
      /* Tar bort tidigare satt padding*/
      padding-left: 0;
    }
    aside a {
      font-size: 1.8rem;
      text-decoration: none;
    }

    aside h3 {
      
    }
    /* END aside*/

  

  /* ----------INNEHÅLL INFO.HTML------------*/
  
  /* MainInfo, behövdes andra inställningar än i huvudmain, derav en separat för info.html*/
  #mainInfo {
    grid-column: 1 / 13;
  }
    #sectionInfo {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-left: 1em;
      margin-right: 1em;
      padding-top: 2em;
      padding-bottom: 4em;
    }

      #about {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        padding-bottom: 1em;
      }
      #imgBiscomp {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }

      #bis {
        font-size: 3rem;
      }

      /* Styling kontaktformulär*/
      #contForm {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        /* Öker storleken på kontaktformuläret*/
        font-size: 130%;
        /*display: inline-block;*/
        background-color: #f3f3f3;
      }
        #field {
          font-family: 'Noto sans';
        }
        
        /* texten där det står kontaktformulär*/
        #contact {
          display: none;
        }

         /* Fält för att skriva in för och efternamn*/
         #contName {
          margin-top: 1em; 
          width: 50%;
        }

         /* Fält för att skriva in e-postadress*/
        #contEmail {
          width: 50%;
        }
        
        /* Meddelandefält*/ 
        #contArea {
          width: 50%;
        }

        /* Meddelandefält*/ 
        #submitBTN {
          color: #fff;
          background-color: #f16334;
          text-decoration: none;
          border: none;
          border-radius: 0.2em;
          font-size: 1.5em;
          padding: 0.5em 1em;
          font-family: Arial, Helvetica, sans-serif;
        }
          #submitBTN:hover {
            background-color: #fff;
            color: #f16334;
            border: 1px solid #f16334;
          }
        #resetBTN {
          color: #fff;
          background-color: #969594;
          text-decoration: none;
          border: none;
          border-radius: 0.2em;
          font-size: 1.5em;
          font-family: Arial, Helvetica, sans-serif;
          padding: 0.5em 1em;
          margin: 1em;
        }

        #resetBTN:hover {
          background-color: #fff;
          color: #969594;
          border: 1px solid #969594;
        }

 /* -------------------STYLING MOBIL--------------------*/
 @media only screen and (max-width: 500px) {

  /* Plockar bort saker från desktop-versionen*/
    #companyName {
      display: none;
  }
  #bignav {
      display: none;
  }
  aside {
    display: none;
  }

  /* Start styling:*/
  #container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(20px, auto);
  }

  /* Inställningar text*/
  p {
    font-size: 1.4rem;
    line-height: 2.5rem;
  }

  h3 {
    font-size: 1.6rem;
  }
  h2 {
      font-size: 3rem;
      font-weight: 800;
      line-height: 1.2em;
      /*padding-bottom: 0.3em;*/
  }


  /* header med meny*/
    header {
      grid-column: 1 / 2;
    }
      #headWrapper {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
      }
        #icon {
          display: block;
          grid-column: 1 /2;
          grid-row: 1 / 2;
          font-size: 3em;
          font-weight: bolder;
          color: #fff;
          text-decoration: none;
          padding-top: 0.4em;
          padding-right: 0.1em;
          padding-left: 0.3em;
        }

        #glass {
          display: block;
          grid-column: 4 / 5;
          grid-row: 1 / 2;
          padding-top: 2.4em;
          padding-left: 1em;
          padding-right: 0.7em;
          width: 70%;
        }

        #logo {
          grid-column: 2 / 4;
          grid-row: 1 / 2;          
          margin-left: auto;
          margin-right: auto;
          /* Riktigt drygt att jag ej får bilderna att hamna längst ner i diverna, här justerat
          med padding men men*/
          padding-top: 1.2em;
          /* Rensar padding från desktopp-inställningar*/
          padding-left: 0;
        }

        #mobnav {
          display: block;
          grid-column: 1 / 5;
          grid-row: 2 / 3;
          background-color: #e7e4e4;
        }
          #mobnav a {
            color: #48494d;
            padding: 14px 8px;
            text-decoration: none;
            display: block;
            background-color: #e7e4e4;
            text-decoration: none;
            font-weight: bold;
            font-size: 3rem;
            text-align: center;
          }

          #mobilmenu {
            background-color: black;
            color: #fff;
            display: none;
          }
        
        /* Styling för MAIN*/
        
        /* pitchen*/
        #pitch h2 {
          font-size: 2em;
          font-family: 'Roboto', Helvetica, sans-serif;
          padding-left: 1em;
          padding-right: 1em;
        }    
        #section1 {
        flex-direction: column;
        padding-left: 0em;
        padding-right: 0em;
        padding-bottom: 4em;
        padding-top: 4em;
        }
        #article1 {
          padding-left: 1em;
          padding-right: 1em;
          padding-top: 2em;
        }

        #widgets {
          display: flex;
          flex-direction: column;
          align-items: center;
        }


        /* Inställningar blog*/
        #mainBlog {
          padding-right: 1em;
          padding-left: 1em;
        }
        #sectionBlog {
          grid-column: 1 / 5;
          
        }

        #sectionBlog h2 {
          font-size: 3em;
          
        }

        #img2Div {
          width: 9em;
          padding-left: 1em;
        }

        /* Rejäla problem med float bilden, gick över kanten länge
        var tvungen att sätta till width 9em*/
        #img2 {
          padding-right: 1em;
          width: 9em;
        }

        /* Tabeller mobil*/
        .wide {
          width: 100%;
        }
      

        /*-------------Inställningar INFO sidan-------------------*/

        /* Ändrar till flexbox från grid*/
        #sectionInfo {
          display: flex;
          flex-direction: column;
          text-align: center;
        }
        
        /* Ställer in i vilken ordning elementen skall visas i flexboxen*/
        #about {
          order: 2;
        }
        #imgBiscomp {
          order: 1;
          padding-bottom: 2em;
        }
        #contForm {
          order: 3;
          text-align: left;
        }
          #contName {
            width: 100%;
          }

          #contEmail {
            width: 100%;
          }

          #contArea {
            width: 100%;
          }

        /* Inställningar footer*/
        footer {
          display: flex;
          flex-direction: column;
        }

        #footColor {
          display: flex;
          flex-direction: column;
          padding-bottom: 4em;
        }
        #a1 {
          padding-top: 1em;
          padding-bottom: 1em;
        }
}     
